<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Users</h1>
    <a mat-raised-button color="accent" routerLink="add">
        <mat-icon>add</mat-icon> Add User
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Voornaam</th>
            <th style="width: 30%">Achternaam</th>
            <th style="width: 30%">Gebruikersnaam</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @for (user of users(); track user.id) {
            <tr>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.username}}</td>
                <td style="white-space: nowrap">
                    <a mat-icon-button routerLink="edit/{{user.id}}" class="action-btn edit-btn" title="Wijzigen">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button (click)="deleteUser(user.id)" class="action-btn delete-btn" [disabled]="user.isDeleting" title="Verwijderen">
                        @if (user.isDeleting) {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                            <mat-icon>delete</mat-icon>
                        }
                    </button>
                </td>
            </tr>
        }
        @if (!users()) {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
