<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Uren</h1>
    <a mat-raised-button color="accent" routerLink="add">
        <mat-icon>add</mat-icon> Uren toevoegen
    </a>
</div>
<div class="card">
    <div class="card-body p-0">
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th style="width: 15%">Dag</th>
                    <th style="width: 10%">Uren</th>
                    <th style="width: 15%">Omzet</th>
                    <th style="width: 30%">Omschrijving</th>
                    <th style="width: 15%">Project</th>
                    <th style="width: 15%">Acties</th>
                </tr>
            </thead>
            <tbody>
                @for (activity of activities(); track activity.id) {
                    <tr>
                        <td>{{activity.activityDate | date : 'dd-MM-yyyy' }}</td>
                        <td>{{activity.hours}}</td>
                        <td>{{activity.revenue | currency:'EUR'}}</td>
                        <td>{{activity.activityDescription}}</td>
                        <td><span class="badge bg-secondary">{{activity.project.code}}</span></td>
                        <td style="white-space: nowrap">
                            <a mat-icon-button routerLink="edit/{{activity.id}}" class="action-btn edit-btn" title="Wijzigen">
                                <mat-icon>edit</mat-icon>
                            </a>
                            <button mat-icon-button (click)="deleteActivity(activity.id)" class="action-btn delete-btn" [disabled]="activity.isDeleting" title="Verwijderen">
                                @if (activity.isDeleting) {
                                    <mat-spinner diameter="20"></mat-spinner>
                                } @else {
                                    <mat-icon>delete</mat-icon>
                                }
                            </button>
                        </td>
                    </tr>
                }
                @if (!activities()) {
                    <tr>
                        <td colspan="6" class="text-center p-5">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                }
                @if (activities() && activities().length === 0) {
                    <tr>
                        <td colspan="6" class="text-center p-4">
                            Geen uren gevonden.
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
