<h1>Btw Aangifte berekenen</h1>
<div *ngIf="transactionsLoaded === 0">
  <p>
    Bereken hier je btw. Laad eerst een bestand met transacties die je kunt downloaden van je
    online bankieren site of van de OV chipkaart site.
  </p>
</div>
<div>
  <input type="file" (change)="fileChangeEvent($event)" placeholder="Laad transacties..." />
</div>
<div *ngIf="transactionsLoaded > 0">
  <p>Er zijn {{transactionsLoaded}} transacties geladen.</p>
  <div [ngSwitch]="transactionsUnmatched > 0">
    <p *ngSwitchCase="false">Alle transacties zijn gematcht. Loop de onderstaande tabel door om te kijken of alle transacties correct zijn gematch.  Je kunt nog een bestand inladen of de fiscale gegevens uploaden met de knop hieronder.</p>
    <div *ngSwitchCase="true">
      <p>Er zijn nog {{transactionsUnmatched}} onbekende transacties, voeg matches toe.</p>
    </div>
  </div>

  <vat-report [vatReport]="vatReport"></vat-report>
  <button (click)="addManualTransaction()">Handmatige match toevoegen</button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="dateFormatted"> Datum</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.dateFormatted}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
      <td mat-cell *matCellDef="let transaction">
        <input type="text" placeholder="beschrijving" [(ngModel)]="transaction.description"/>
        <div *ngIf="!transaction.costMatch">
          <button (click)="match()">Zoek match</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="matchString">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Match</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costMatch.matchString}}
          <button (click)="removeMatch(transaction)">X</button>
        </div>
        <div *ngIf="!transaction.costMatch">
          <input type="text" placeholder="matchstring" [(ngModel)]="transaction.matchString"/>
          <button (click)="addMatch(transaction)" [disabled]="addMatchDisabled(transaction)">Match toevoegen</button>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="costType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="costTypeDescription"> Type</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costTypeDescription | label}}</div>
        <div *ngIf="!transaction.costMatch"><cost-type-selector (select)="transaction.costType = $event"></cost-type-selector>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="costCharacter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="costCharacterDescription"> Prive/zakelijk</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costCharacterDescription}}</div>
        <div *ngIf="!transaction.costMatch"><cost-character-selector (select)="transaction.costCharacter = $event"></cost-character-selector></div>
      </td>

    </ng-container>
    <ng-container matColumnDef="matchPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Percentage</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costMatch.percentage}}</div>
        <div *ngIf="!transaction.costMatch"><input type="text" placeholder="%" style="width: 30px" [(ngModel)]="transaction.percentage"/></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="matchFixedAmount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vast bedrag</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costMatch.fixedAmount}}</div>
        <div *ngIf="!transaction.costMatch"><input type="text" style="width: 50px" [(ngModel)]="transaction.fixedAmount"/></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="vatType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> btw type</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.costMatch">{{transaction.costMatch.vatType | label}}</div>
        <div *ngIf="!transaction.costMatch && displayVatTypeSelector(transaction)"><vat-type-selector (select)="transaction.vatType = $event"></vat-type-selector></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="amountFormatted"> Bedrag bruto</th>
      <td mat-cell *matCellDef="let transaction">
        <div *ngIf="transaction.amount && transaction.costMatch">{{transaction.amountFormatted}}</div>
        <div *ngIf="!transaction.amount || !transaction.costMatch"><input type="text" placeholder="bedrag" [(ngModel)]="transaction.amount"/></div>
      </td>
    </ng-container>
    <ng-container matColumnDef="amountNet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bedrag netto</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amountNet}}</td>
    </ng-container>
    <ng-container matColumnDef="vatOut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="amountVat"> btw uit</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amountVat}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
