<h1 *ngIf="isAddMode">Match toevoegen</h1>
<h1 *ngIf="!isAddMode">Match wijzigen</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Match</label>
            <input type="text" formControlName="matchString" class="form-control" [ngClass]="{ 'is-invalid': submitted }"/>
            <div *ngIf="submitted && f.matchString.errors" class="invalid-feedback">
                <div *ngIf="f.matchString.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Kostensoort</label>
            <div>
                <select id="costTypes" *ngIf="costMatch != undefined" formControlName="costType">
                    <option *ngFor="let costType of costTypeList" [value]="costType.key"
                            [selected]="costMatch.costType['id'] == costTypes[costTypes[costType.key]]">
                        {{costType.value}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group col">
            <label>Kost karakter</label>
            <div>
                <select id="costCharacters" *ngIf="costMatch != undefined" formControlName="costCharacter">
                    <option *ngFor="let costCharacter of costCharacterList" [value]="costCharacter.key"
                            [selected]="costMatch.costCharacter == costCharacter">
                        {{costCharacter.value}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Opslaan
        </button>
        <a routerLink="/vat-match" class="btn btn-link">Annuleren</a>
    </div>
</form>
