@if (isAddMode) { <h1>Match toevoegen</h1> }
@else { <h1>Match wijzigen</h1> }

<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Match</label>
                    <input type="text" formControlName="matchString" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.matchString.errors }"/>
                    @if (submitted && f.matchString.errors) {
                        <div class="invalid-feedback">
                            @if (f.matchString.errors.required) { <div>Veld is verplicht</div> }
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <label class="form-label">Kostensoort</label>
                    @if (costMatch) {
                        <select id="costTypes" formControlName="costType" class="form-control">
                            @for (costType of costTypeList; track costType.key) {
                                <option [value]="costType.key">
                                    {{costType.value}}
                                </option>
                            }
                        </select>
                    }
                </div>
                <div class="col-md-4">
                    <label class="form-label">Kost karakter</label>
                    @if (costMatch) {
                        <select id="costCharacters" formControlName="costCharacter" class="form-control">
                            @for (costCharacter of costCharacterList; track costCharacter.key) {
                                <option [value]="costCharacter.key">
                                    {{costCharacter.value}}
                                </option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div class="d-flex align-items-center mt-4">
                <button [disabled]="loading" mat-raised-button color="accent" class="me-3">
                    @if (loading) {
                        <mat-spinner diameter="20" class="me-2"></mat-spinner>
                    } @else {
                        <mat-icon>save</mat-icon>
                    }
                    Opslaan
                </button>
                <a mat-button routerLink="/vat-match">
                    <mat-icon>cancel</mat-icon> Annuleren
                </a>
            </div>
        </form>
    </div>
</div>
