<nav class="navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header" (click)="toggleState()">
      <img src="assets/png/business107_32.png">
    </div>
    <div class="collapse navbar-collapse" [ngClass]="{ 'in': isIn }">
      <!--<ul class="nav navbar-nav">-->
        <!--<li><a (click)="logout()">Uitloggen</a></li>-->
        <!--<li><a (click)="editRegistration()">Gegevens wijzigen</a></li>-->
        <!--<li><a (click)="deleteRegistration()">Account verwijderen</a></li>-->
        <!--<li class="divider" role="separator"></li>-->
        <!--<li><a [routerLink]="['/vat']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">btw</a></li>-->
        <!--<li><a [routerLink]="['/cost']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Kost</a></li>-->
        <!--<li><a [routerLink]="['/match']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Match</a></li>-->
        <!--<li><a [routerLink]="['/book']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Boekwaardes</a></li>-->
        <!--<li><a [routerLink]="['/activum']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Activa</a></li>-->
        <!--<li><a [routerLink]="['/customer']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Klanten</a></li>-->
        <!--<li><a [routerLink]="['/project']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Projecten</a></li>-->
        <!--<li><a [routerLink]="['/invoice']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Facturen</a></li>-->
        <!--<li><a [routerLink]="['/fiscal-overview']"-->
               <!--[routerLinkActive]="['router-link-active']"-->
               <!--[routerLinkActiveOptions]="{exact:true}"-->
               <!--(click)="toggleState()">Fiscaal overzicht</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>