<h1>Send invoice</h1>
<select *ngIf="projects != undefined && projects.length > 1" #sel [ngModel]="invoice" (ngModelChange)="onChangeEvent($event)">
    <option *ngFor="let item of projects" [ngValue]="item" [selected]="invoice.project && invoice.project.code == item.code">{{item.code}}
    </option>
</select>
<div *ngIf="invoice.project">
    <table width="100%">
        <tr>
            <td>Description:</td><td>{{invoice.project.projectDescription}}</td>
        </tr>
        <tr>
            <td>Email invoice to:</td><td>{{invoice.project.customer.emailInvoice}}</td>
        </tr>
        <tr>
            <td>Invoice month:</td><td>{{invoice.month}}</td>
        </tr>
        <tr>
            <td>Invoice number:</td><td><input [(ngModel)]="invoice.invoiceNumber" (change)="updateDescription()"></td>
        </tr>
        <tr>
            <td># Hours:</td><td><input [(ngModel)]="invoice.unitsOfWork" (change)="checkUnitsOfWork()"></td>
        </tr>
        <tr *ngIf="invoice.unitsOfWork && invoice.unitsOfWork < 0">
            <td>Original invoice number:</td><td><input [(ngModel)]="invoice.originalInvoiceNumber"></td>
        </tr>
        <tr>
            <td colspan="2"><textarea style="width: 100%;" [(ngModel)]="invoice.htmlText"></textarea></td>
        </tr>
    </table>
    <button (click)="sendInvoice()" [disabled]="isButtonDisabled()">Send invoice</button>
    Test email: <input [(ngModel)]="invoice.project.customer.emailInvoice">
</div>
