<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Kosten</h1>
    <a mat-raised-button color="accent" routerLink="add">
        <mat-icon>add</mat-icon> Kost toevoegen
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Datum</th>
            <th style="width: 30%">Bedrag</th>
            <th style="width: 20%">btw</th>
            <th style="width: 10%">Omschrijving</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @for (cost of costs(); track cost.id) {
            <tr>
                <td>{{cost.date}}</td>
                <td>{{cost.amount}}</td>
                <td>{{cost.vat}}</td>
                <td>{{cost.description}}</td>
                <td style="white-space: nowrap">
                    <a mat-icon-button routerLink="edit/{{cost.id}}" class="action-btn edit-btn" title="Wijzigen">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button (click)="deleteCost(cost.id)" class="action-btn delete-btn" [disabled]="cost.isDeleting" title="Verwijderen">
                        @if (cost.isDeleting) {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                            <mat-icon>delete</mat-icon>
                        }
                    </button>
                </td>
            </tr>
        }
        @if (!costs()) {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
