<h1 *ngIf="isAddMode">Activa toevoegen</h1>
<h1 *ngIf="!isAddMode">Activa wijzigen</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group">
            <label>Balans type</label>
            <select id="balanceTypes"formControlName="balanceType">
                <option *ngFor="let balanceType of activumTypeList" [value]="balanceType.id">
                    {{balanceType.value}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Omschrijving</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Aankoopprijs</label>
            <input type="text" formControlName="purchasePrice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.purchasePrice.errors }" />
            <div *ngIf="submitted && f.purchasePrice.errors" class="invalid-feedback">
                <div *ngIf="f.purchasePrice.errors.required">Veld is verplicht</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Restwaarde</label>
            <input type="text" formControlName="remainingValue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remainingValue.errors }" />
            <div *ngIf="submitted && f.remainingValue.errors" class="invalid-feedback">
                <div *ngIf="f.remainingValue.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Aantal jaren</label>
            <input type="text" formControlName="nofYearsForDepreciation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nofYearsForDepreciation.errors }" />
            <div *ngIf="submitted && f.nofYearsForDepreciation.errors" class="invalid-feedback">
                <div *ngIf="f.nofYearsForDepreciation.errors.required">Veld is verplicht</div>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center mt-4">
        <button [disabled]="loading" mat-raised-button color="accent" class="me-3">
            @if (loading) {
                <mat-spinner diameter="20" class="me-2 d-inline-block"></mat-spinner>
            } @else {
                <mat-icon>save</mat-icon>
            }
            Opslaan
        </button>
        <a mat-button routerLink="/activa">
            <mat-icon>cancel</mat-icon> Annuleren
        </a>
    </div>
</form>
