<h1 *ngIf="isAddMode">Project toevoegen</h1>
<h1 *ngIf="!isAddMode">Project wijzigen</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group">
            <label>Klant</label>
            <select formControlName="customers" id="customers">
                <option *ngFor="let customer of customers; let i = index" [value]="customers[i].id">
                    {{customers[i].name}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Code</label>
            <input type="text" formControlName="code" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.code.errors }"/>
            <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                <div *ngIf="f.code.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Projectomschrijving</label>
            <input type="text" formControlName="projectDescription" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.projectDescription.errors }"/>
            <div *ngIf="submitted && f.projectDescription.errors" class="invalid-feedback">
                <div *ngIf="f.projectDescription.errors.required">Veld is verplicht</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label>Werkzaamheden</label>
            <input type="text" formControlName="activityDescription" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.activityDescription.errors }"/>
            <div *ngIf="submitted && f.activityDescription.errors" class="invalid-feedback">
                <div *ngIf="f.activityDescription.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Tarief</label>
            <input type="text" formControlName="rate" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.rate.errors }"/>
            <div *ngIf="submitted && f.rate.errors" class="invalid-feedback">
                <div *ngIf="f.rate.errors.required">Veld is verplicht</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Betalingstermijn</label>
            <input type="text" formControlName="paymentTermDays" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.paymentTermDays.errors }"/>
            <div *ngIf="submitted && f.paymentTermDays.errors" class="invalid-feedback">
                <div *ngIf="f.paymentTermDays.errors.required">Veld is verplicht</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Opslaan
        </button>
        <a routerLink="/project" class="btn btn-link">Annuleren</a>
    </div>
</form>
