<h1>Klanten</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Klant toevoegen</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 20%">Code</th>
            <th style="width: 20%">Projectomschrijving</th>
            <th style="width: 20%">Werkzaamheden</th>
            <th style="width: 20%">Tarief</th>
            <th style="width: 20%">Betalingstermijn</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects">
            <td>{{project.code}}</td>
            <td>{{project.projectDescription}}</td>
            <td>{{project.activityDescription}}</td>
            <td>{{project.rate}}</td>
            <td>{{project.paymentTermDays}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{project.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteProject(project.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="project.isDeleting">
                    <span *ngIf="project.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!project.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!projects">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
