<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Projecten</h1>
    <a mat-raised-button color="accent" routerLink="add">
        <mat-icon>add</mat-icon> Project toevoegen
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 18%">Code</th>
            <th style="width: 18%">Projectomschrijving</th>
            <th style="width: 18%">Werkzaamheden</th>
            <th style="width: 18%">Tarief</th>
            <th style="width: 18%">Betalingstermijn</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @for (project of projects(); track project.id) {
            <tr>
                <td>{{project.code}}</td>
                <td>{{project.projectDescription}}</td>
                <td>{{project.activityDescription}}</td>
                <td>{{project.rate}}</td>
                <td>{{project.paymentTermDays}}</td>
                <td style="white-space: nowrap">
                    <a mat-icon-button routerLink="edit/{{project.id}}" class="action-btn edit-btn" title="Wijzigen">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button (click)="deleteProject(project.id)" class="action-btn delete-btn" [disabled]="project.isDeleting" title="Verwijderen">
                        @if (project.isDeleting) {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                            <mat-icon>delete</mat-icon>
                        }
                    </button>
                </td>
            </tr>
        }
        @if (!projects()) {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
