<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="form-group mb-3">
                    <label class="form-label" for="username">Gebruikersnaam</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    @if (submitted && f.username.errors) {
                        <div class="invalid-feedback">
                            @if (f.username.errors.required) {
                                <div>Gebruikersnaam is verplicht</div>
                            }
                        </div>
                    }
                </div>
                <div class="form-group mb-4">
                    <label class="form-label" for="password">Wachtwoord</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    @if (submitted && f.password.errors) {
                        <div class="invalid-feedback">
                            @if (f.password.errors.required) {
                                <div>Wachtwoord is verplicht</div>
                            }
                        </div>
                    }
                </div>
                <div class="form-group d-flex align-items-center">
                    <button [disabled]="loading" class="btn btn-primary me-3">
                        @if (loading) {
                            <span class="spinner-border spinner-border-sm me-1"></span>
                        }
                        Login
                    </button>
                    <a routerLink="../register" class="btn btn-link">Registreren</a>
                </div>
            </form>
        </div>
    </div>
</div>
