<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Registreren</h4>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
                <label class="form-label" for="firstName">Voornaam</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                @if (submitted && f.firstName.errors) {
                    <div class="invalid-feedback">
                        @if (f.firstName.errors.required) {
                            <div>Voornaam is verplicht</div>
                        }
                    </div>
                }
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="lastName">Achternaam</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                @if (submitted && f.lastName.errors) {
                    <div class="invalid-feedback">
                        @if (f.lastName.errors.required) {
                            <div>Achternaam is verplicht</div>
                        }
                    </div>
                }
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="username">Gebruikersnaam</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                @if (submitted && f.username.errors) {
                    <div class="invalid-feedback">
                        @if (f.username.errors.required) {
                            <div>Gebruikersnaam is verplicht</div>
                        }
                    </div>
                }
            </div>
            <div class="form-group mb-4">
                <label class="form-label" for="password">Wachtwoord</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Minimaal 6 tekens" />
                @if (submitted && f.password.errors) {
                    <div class="invalid-feedback">
                        @if (f.password.errors.required) {
                            <div>Wachtwoord is verplicht</div>
                        }
                        @if (f.password.errors.minlength) {
                            <div>Wachtwoord moet minstens 6 karakters bevatten</div>
                        }
                    </div>
                }
            </div>
            <div class="form-group d-flex align-items-center mt-4">
                <button [disabled]="loading" mat-raised-button color="primary" class="me-3">
                    @if (loading) {
                        <mat-spinner diameter="20" class="me-2 d-inline-block"></mat-spinner>
                    } @else {
                        <mat-icon>how_to_reg</mat-icon>
                    }
                    Registreren
                </button>
                <a mat-button routerLink="../login">
                    <mat-icon>arrow_back</mat-icon> Annuleren
                </a>
            </div>
          </form>
        </div>
    </div>
</div>
