@if (isAddMode) { <h1>Klant toevoegen</h1> }
@else { <h1>Klant wijzigen</h1> }

<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Naam</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    @if (submitted && f.name.errors) {
                        <div class="invalid-feedback">
                            @if (f.name.errors.required) { <div>Veld is verplicht</div> }
                        </div>
                    }
                </div>
                <div class="col-md-6">
                    <label class="form-label">Adres</label>
                    <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
                    @if (submitted && f.address.errors) {
                        <div class="invalid-feedback">
                            @if (f.address.errors.required) { <div>Veld is verplicht</div> }
                        </div>
                    }
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Factuur email</label>
                    <input type="text" formControlName="emailInvoice" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailInvoice.errors }" />
                    @if (submitted && f.emailInvoice.errors) {
                        <div class="invalid-feedback">
                            @if (f.emailInvoice.errors.required) { <div>Veld is verplicht</div> }
                        </div>
                    }
                </div>
                <div class="col-md-6">
                    <label class="form-label">Contactpersoon</label>
                    <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                    @if (submitted && f.contact.errors) {
                        <div class="invalid-feedback">
                            @if (f.contact.errors.required) { <div>Veld is verplicht</div> }
                        </div>
                    }
                </div>
            </div>
            <div class="d-flex align-items-center mt-4">
                <button [disabled]="loading" mat-raised-button color="accent" class="me-3">
                    @if (loading) {
                        <mat-spinner diameter="20" class="me-2"></mat-spinner>
                    } @else {
                        <mat-icon>save</mat-icon>
                    }
                    Opslaan
                </button>
                <a mat-button routerLink="/customer">
                    <mat-icon>cancel</mat-icon> Annuleren
                </a>
            </div>
        </form>
    </div>
</div>
