<h1>Klanten</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Klant toevoegen</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Naam</th>
            <th style="width: 30%">Adres</th>
            <th style="width: 30%">Factuur email</th>
            <th style="width: 30%">Contactpersoon</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
            <td>{{customer.name}}</td>
            <td>{{customer.address}}</td>
            <td>{{customer.emailInvoice}}</td>
            <td>{{customer.contact}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{customer.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteCustomer(customer.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="customer.isDeleting">
                    <span *ngIf="customer.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!customer.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!customers">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
