<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Klanten</h1>
    <a mat-raised-button color="accent" routerLink="add">
        <mat-icon>add</mat-icon> Klant toevoegen
    </a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 25%">Naam</th>
            <th style="width: 25%">Adres</th>
            <th style="width: 25%">Factuur email</th>
            <th style="width: 25%">Contactpersoon</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        @for (customer of customers(); track customer.id) {
            <tr>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.contact}}</td>
                <td style="white-space: nowrap">
                    <a mat-icon-button routerLink="edit/{{customer.id}}" class="action-btn edit-btn" title="Wijzigen">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <button mat-icon-button (click)="deleteCustomer(customer.id)" class="action-btn delete-btn" [disabled]="customer.isDeleting" title="Verwijderen">
                        @if (customer.isDeleting) {
                            <mat-spinner diameter="20"></mat-spinner>
                        } @else {
                            <mat-icon>delete</mat-icon>
                        }
                    </button>
                </td>
            </tr>
        }
        @if (!customers()) {
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
    </tbody>
</table>
